.hamburger{
    cursor: pointer;
    width: 26px;
    height: 26px;
    transition: all 0.25s;
    position: relative;
    margin-top: -5px;
}
.hamburger-top,
.hamburger-middle,
.hamburger-buttom{
    position:absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 3px;
    background: white;    
    transform: rotate(0);
    transition: all 0.5s;
    margin-top: 10px;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-buttom{
    transform: translateY(14px);
}
.open{
    /* margin-top: 10px; */
    transform: rotate(90deg);
    transform: translate(0px);
}
.open .hamburger-top{
    transform: rotate(45deg);
}
.open .hamburger-buttom{
    transform: rotate(-45deg) ;

}
.open .hamburger-middle{
    display: none;
}
.menu{
    background: rgb(16, 49, 82);
    color: white;
    overflow: hidden;
    transform: translateY(-500px);
    transition: transform 0.5s ease;
    position: absolute;
}
.kik{
    display: none;
}
.animate{
    transform: translateY(0);
}
.lists{
    display: flex;
    flex-direction: column;
}
.textt{
    font-size: 10px;
    margin: auto;   
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}
.poppins{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}